body{
  margin: 50px;
}
.image-preview{
  width: 100px;
  height: auto;
}
form{
  padding-bottom: 20px;
}
.item{
  border: 2px solid #369;
  border-radius: 12px;
  width:180px;
  height: 180px;
  overflow: hidden;
  padding: 10px;
  text-align: center;
}
#show-all{
  margin: 20px;
}
.one-image{
  width: 500px;
  height: auto;
  overflow: hidden;
}
.image-wrap{
  border: 2px solid #369;
  border-radius: 30px;
  padding: 20px;
  width: 530px;
  margin: 0 auto;
}
.glyphicon{
  margin-right: 5px;
}
.info{
  background-color: #d9534f;
  border: 2px solid #d43f3a;
  border-radius: 24px;
  color: #fff;
  font-size: 30px;
  width: 25%;
  margin: 0 auto;
}
#size-field{
  width: 100px;
  display: inline-block;
}
