<div class="text-center image-wrap">
    <img class="one-image" data-id="" src="">
    <button id="rotateImg" type="button" name="button" class="btn btn-primary">
        <i class="glyphicon glyphicon-repeat"></i>Rotate</button>
    <button id="cropImg" type="button" name="button" class="btn btn-success">
        <i class="glyphicon glyphicon-resize-small"></i>Crop</button>
    <input type="number" max="1" min="0.1" step="0.1" id="size-field" class="form-control" name="size"><br>
    <button id="deleteImg" type="button" name="button" class="btn btn-danger">
        <i class="glyphicon glyphicon-remove"></i>Delete</button>
</div>
